*{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    align-items: center;
    margin-left: 300px;
    padding: 20px;
    gap: 40px;
}
button{
    width: 150px;
    height: 30px;
    position: absolute;
    top: 37px;
    right: 400px;
    color: aliceblue;
    font-size: large;
    background-color: black;
    border-radius: 5px;
}
a{
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
}

.grad1{
    width:350px;
    height: 350px;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: radial-gradient(circle, rgba(255,0,0,0.8) 0%, rgba(255,0,0,0) 70%);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: 420px;
    top: 20px;

}
.title{
    font-size: 50px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    z-index: 10;
    position: absolute;
    left: 300px;
    top: 110px;
}
.description{
    position: absolute;
    left: 310px;
    top: 240px;
    font-size: 18px;
    color: rgb(71, 70, 70);

}
#btn2{
    position: absolute;
    left: 310px;
    top: 320px;
    height: 50px;
    width: 170px;

    
}

#vdobtn{
    position: absolute;
    left: 520px;
    top: 330px;
}
#vdo{
    position: absolute;
    left: 560px;
    top: 315px;
    font-family: 'Times New Roman', Times, serif;

}
.grad2{

    width:350px;
    height: 350px;
    
    
    background: radial-gradient(circle, rgba(255,0,0,0.8) 0%, rgba(255,0,0,0) 70%);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: 55rem;
    top: 300px;

}

#layer3{
    width: 400px;
    height: 600px;
    position: absolute;
    left: 55rem;
    top: 100px;
    z-index: 1;

}
#layer2{
    width: 400px;
    height: 520px;
    position: absolute;
    left: 55rem;
    top: 140px;
    z-index: 4;

}
#layer1{
    width: 370px;
    height: 520px;
    position: absolute;
    left: 50rem;
    top: 100px;
    z-index: 7;
}

#achieve{
    position: absolute;
    width: 470px;
    height: 400px;
    top: 25rem;
    left: 18rem;
}

#star1{
    position:absolute;
    top: 30rem;
    left: 22rem;

}

.grad3{
    width:350px;
    height: 350px;

    /* display: flex; */
    
    
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,0,0,0) 70%);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: 20rem;
    top: 55rem;

}
/* .features{
    position: absolute;
    width: 100%;
    height: 100%;    
    display: flex;
    flex-direction: row;   
} */

#ecllipse{
    position: absolute;
    width: 40rem;
    height: 40rem;
    left: -10rem;
    top: -7rem;
}
#front_img{
    position: absolute;
    width: 25rem;
    height: 37rem;
    left: -1rem;
    top: -3rem;
}

#heading{
    font-size: 23px;
    color: orangered;
    position: absolute;
    top:54rem;
    left: 55rem;
}

#sub_heading{
    position: absolute;
    font-size: 32px;
    top:56rem;
    left: 55rem;

}
.desc{
    position: absolute;
    top:60rem;
    left: 55rem;
}

#star3,#cube1,#cube2{
    height: 2rem;
    width: 2rem;
}
#budgeting_intervals1
{
    position: absolute;
    top: .3rem;
    left: 2.5rem;
}
#budgeting_intervals2
{
    position: absolute;
    top: 6rem;
    left: 2.5rem;
}
#budgeting_intervals3
{
    position: absolute;
    top: 11.7rem;
    left: 2.5rem;
}


.grad4
{
    width:350px;
    height: 350px;
    
    
    background: radial-gradient(circle, rgba(255,0,0,0.8) 0%, rgba(255,0,0,0) 70%);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: 80rem;
    top: 50rem;

}
.advantages1{
    display: flex;
    position: absolute;
    gap: 28rem;
    top: 90rem;
    left: 20rem;
}
#adv,#adv_heading{
    position: absolute;
    top: 5rem;
    
    /* color: blue; */
}
#adv{
    font-size: 23px;

}

#adv_heading{
    top: 7rem;
    font-size: 35PX;
    
}
#adv_img{
    width: 38rem;
    height: 38rem;
}

#adv_icon{
    position: absolute;
    top: 12rem;
    right: 6rem;
}
#notification{
    position: absolute;
    top: 11rem;
}
#clever{
    position: absolute;
    top: 12rem;
    left: 4rem;
    font-size: 1.3rem;
}
#para1{
    position: absolute;
    top: 15rem;
}


.grad5
{
    width:350px;
    height: 350px;
    
    
    background: radial-gradient(circle, rgba(255,0,0,0.8) 0%, rgba(255,0,0,0) 70%);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: 32rem;
    top: 10rem;

}

.advantages2{

    display: flex;
    position: absolute;
    gap: 40rem;
    top: 120rem;
    left: 20rem;

}

#ecllipse2{

    position: absolute;
    width: 40rem;
    height: 40rem;
    left: -10rem;
    top: 2rem;
}

#adv2_img{

    position: absolute;
    width: 25rem;
    height: 37rem;
    left: -1rem;
    top: 6rem;

}

.adv2_right{
    margin-top: 15rem;
}

#star4{
    position: absolute;
    right: 22.5rem;
    top: 15.7rem;
}

#customizable{
    position: absolute;
    top: 16rem;
    right:10rem;
    font-size: 1.3rem;

}

.grad6{

    width:350px;
    height: 350px;
    
    
    background: radial-gradient(circle, rgba(255,0,0,0.8) 0%, rgba(255,0,0,0) 70%);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: 1rem;
    top: 15rem;

}

.testimontal1{
    position: absolute;
    top: 165rem;
    left: 40rem;
}

.testi_left{
    position: absolute;
    top: 170rem;
}

#testi_ellipse{
    position: absolute;
    left: 5rem;
    width: 750px;
    height: 750px;
    z-index: -1;
}

#prof1{
    position: absolute;
    top: 13rem;
    left: 18rem;
    width: 23rem;
    height: 23rem;
}
#circle{
    position: absolute;
    left:30rem;
    top: 19.5rem;
    width: 4.5rem;
    height: 4.5rem;
    z-index: 1;
}

#comma{
    position: absolute;
    left: 31rem;
    top:21rem ;
    z-index: 2;
}

#prof2{
    position: absolute;
    top: 8rem;
    left: 34rem;
    width:18rem ;
    height:18rem ;
}

#prof4{

    position: absolute;
    width: 14rem;
    height: 14rem;
    top:6rem ;
    left: 12rem;
}

#prof5{

    position: absolute;
    width: 21rem;
    height: 21rem;
    top:27rem ;
    left: 11rem;

}

#prof3{

    position: absolute;
    width: 14rem;
    height: 14rem;
    top:30rem ;
    left: 37rem;
}

.grad7{

    width:350px;
    height: 350px;
    
    
    background: radial-gradient(circle, rgba(255,0,0,0.8) 0%, rgba(255,0,0,0) 70%);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: 17rem;
    top: 12rem;


}

.testi_right{

    position: absolute;
    top: 180rem;
    left: 60rem;
}

.faq{
    position: absolute;
    top: 215rem;
    left: 20rem;
}

.faq_table{
    display: flex;
    flex-flow: row wrap;
    /* gap: 1rem; */
   
   
}

.orange{
    color: white;
    background-color: rgb(231, 83, 90);
    border-radius: 10px;
    /* margin: 1rem; */
    width: 500px;
    height: 120px;
    padding: 1rem;
}

.white{
    color: black;
    background-color: white;
    border-radius: 10px;
    /* margin: 1rem; */
    width: 500px;
    height: 120px;
    padding: 1rem;
}

.grad8{
    width:350px;
    height: 350px;
    
    
    background: radial-gradient(circle, rgba(255,0,0,0.8) 0%, rgba(255,0,0,0) 70%);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: 9rem;
    top: 258rem;

}
#frame2{
    position: absolute;
    top: 265rem;
    left: 20rem;
    width: 1050px;
    height: 400px;
}

.footer{
    position: absolute;
    top: 300rem;

}

#foot7{
    position: absolute;
    left: 70rem;
}
#foot8{
    position: absolute;
    left: 70rem;
    top: 5rem;
}
#foot9{
    position: absolute;
    left: 70rem;
    top: 8rem;
}

#foot6{
    position: absolute;
    left:57rem;
    top: -0.5rem;
}
#foot5{
    position: absolute;
    left: 45rem;
    top: -0.5rem;
}

#foot4{

    position: absolute;
    left: 35rem;
    top: -0.5rem;
}

#foot3{
    position: absolute;
    left: 20rem;
    top: -0.5rem;

}

#foot2{
    position: absolute;
    left: 20rem;
    top: 3rem;

}
#foot1{
    position: absolute;
    left: 20rem;
    top: 5rem;

}
#help{
    position: absolute;
    left: 22rem;
    top: 3rem;
}
#contact{
    position: absolute;
    left: 22rem;
    top: 5rem;

}

#download{

    position: absolute;
    left: 80rem;
    top: 5rem;
    background-color: black;
    color: white;
    border-radius: 5px;


}

.end{
    position: absolute;
    top: 315rem;
}

#copyright{
    text-align: center;
}